@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
}

header {
    height: 90vh;
    background-image: url("heroimage.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
}

.box {
    height: 90vh;
    width: 100%;
    opacity: 0.64;
    background-color: black;
    position: absolute;
    border-bottom: 8px solid rgb(70, 67, 67);
    top: 0;
}

.navbar {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 40px;
    width: 80%;
    text-align: center;
}

.navbar img {
    color: red;
    position: relative;
    z-index: 10;
}

.navbar button {
    position: relative;
    z-index: 10;

}

.hero {
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 30px;
    gap: 20px;

}

.firstchild {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;

}

.secondchild {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.thirdchild {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    border-radius: 5px;
    width: 126px;
    height: 32px;


}

.btnred {
    background-color: red;
    color: white;

}


.btnredgs {
    background-color: red;
    color: white;
    width: 210px;
    height: 56px;
    font-size: 1.6rem;
}

#email {
    color: white;
    padding: 1px 25px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 370px;
    height: 56px;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.403);

}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

#lang {
    padding: 1px 15px;
    border: 1px solid grey;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.403);
    font-size: 85%;
}

#lang i {
    padding-right: 8px;

}

.first {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
    height: 540px;
    */ margin: auto;
    border-bottom: 8px solid rgb(70, 67, 67);
    ;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    width: 525px;
    position: absolute;
    top: 51px;
    right: 0;
}

.bold {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    font-weight: 900;
}

.light {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
}

.second {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
    height:540px;
    */ margin: auto;
    border-bottom: 8px solid rgb(70, 67, 67);
}

.bold1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    font-weight: 900;
}

.light1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
}

.third {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
    height: 540px;
    */ margin: auto;
    border-bottom: 8px solid rgb(70, 67, 67);
    ;
}

.secImg2 {
    position: relative;
}

.secImg2 img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg2 video {
    width: 350px;
    position: absolute;
    top: 32px;
    left: 105px;
    right: 0;
}

.bold2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    font-weight: 900;
}

.light2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
}

.forth {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
    height: 540px;
    */ margin: auto;
    border-bottom: 8px solid rgb(70, 67, 67);
}

.bold3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    font-weight:900;
}

.light3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
}
.faq h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 48px;
}

.faq{
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.5rem ;
    background-color: rgb(56, 54, 54);
    display:flex;
    justify-content: space-between;
    
    margin: 34px auto;
    padding: 24px;
    max-width: 60vw;


}
.extra{
    text-align: center;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 70px;
    border-bottom: 8px solid rgb(70, 67, 67);
}
footer{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 40px;
    
}

footer p{
    font-weight: 100;
     padding-top: 10px;
     padding-bottom:10px ;
     padding-left: 15px;
     
}
.footer{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    color: white;
    
    
    
}
.footer-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.footer-items a{
    padding: 5px;
    color: white;
}